*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
 body {
    color: white;
    background-color: #0F172A;
}

/* background */
.orange {
    height: 100%;
    width: 75%;
    
    background-color: #F59E0B;
    position: absolute;
    right: 0%;

    clip-path: polygon(100% 0, 100% 100%, 0% 100%)
}

.blue{
    height: 45%;
    width: 80%;
    
    background-color: #3B82F6;
    position: absolute;
    top: 40%;
    left: 0%;

    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

/* navigation bar */
.navbar{
    height: 10%;
    width: 100%;

    background-color: hsl(262, 48%, 5%);
    position: relative;
    position: fixed;
    top: 0%;
}

.nav-logo{
    height: 100%;
    width: 20%;
    position: relative;
    top: 0%;
    left: 0%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.mylogo {
    background-color: darkblue;
    position: relative;
    top:0%;
    left:0%;
    margin-right: 3px;
    margin-left: 3px;

    height: 80%;
    width: 20%;
}

.logoname{
    height: 100%;
    width:60%;
}

.nav-add1{
    font-size: 75%;
}
.nav-add2{
    font-size: 50%;
    align-content: flex-start;

}