*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
 body {
    color: white;
    background-color: #0F172A;
}

/* background */
.orange {
    height: 100%;
    width: 75%;
    
    background-color: #F59E0B;
    position: absolute;
    right: 0%;

    clip-path: polygon(100% 0, 100% 100%, 0% 100%)
}

.blue{
    height: 45%;
    width: 80%;
    
    background-color: #3B82F6;
    position: absolute;
    top: 40%;
    left: 0%;

    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

/* navigation bar */
.navbar{
    height: 10%;
    width: 100%;

    background-color: hsl(262, 48%, 5%);
    position: relative;
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 100%;
    width: 20%;
    position: relative;
    top: 0%;
    left: 0%;

    display: flex;
    align-items: center;

}

.mylogo {
    background-color: skyblue;
    position: relative;
    top:0%;
    left:0%;
    margin-right: 3px;
    margin-left: 3px;

    height: 80%;
    width: 20%;
}

.logoname {
    flex-grow: 10;
}

.nav-add1 {
    font-size: 200%;
}

.nav-add2 {
    font-size: 100%;
}

.nav_options ul {
    display: flex;
    list-style: none;
}
.nav_options ul a {
    text-decoration: none;
    color: white;
}

.hire {
    height: 100%;
    width: 10%;

    position: absolute;
    right: 2%; 

    display: flex;
    align-items: center;
    justify-content: center;

    border-left:solid 1px;
    border-color: rgba(255, 255, 255, 10);

}

#hire {
    background-color: blue;
    border-radius: 30%;
    height: 50%;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size:larger;
}